<div class="row">
<div class="col-md-8 ml-auto mr-auto">
	<h2 class="text-center title">Stay Updated!</h2>
	<h4 class="text-center description" style="color:#220029">Stay updated about product development and be the first to learn more!</h4>
	<form method="post" action="https://listmonk.orbitvineyards.com/subscription/form"class="contact-form">
		<div class="row">
		<div class="col-md-6 ml-auto mr-auto text-center">
			<div class="form-group">
				<label class="bmd-label-floating" style="color:#220029">Your Email</label>
				<input type="email" name="email" placeholder="📧 Email" class="form-control">
				<input type="hidden" id="01c77" name="l" value="01c77cac-60bf-48b2-9dd2-95e55f3919a0"/>
			</div>
		</div>
		</div>
		<div class="row">
		<div class="col-md-6 ml-auto mr-auto text-center">
			<input class="btn btn-primary btn-raised" type="submit" value="📫 Loop me in!">
			</input>
		</div>
		</div>
	</form>
</div>
</div>
